ansible==2.9.4
backports.ssl-match-hostname==3.7.0.1
cachetools==3.1.1
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
cryptography==2.8
dnsimple==1.2.0
dnspython==1.16.0
docker==4.2.0
enum34==1.1.9
google-auth==1.11.2
idna==2.9
ipaddress==1.0.23
Jinja2==2.11.1
MarkupSafe==1.1.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
PyYAML==5.3
requests==2.23.0
rsa==4.0
six==1.14.0
urllib3==1.25.8
websocket-client==0.57.0
